#clockContainer{
    position: relative;
    margin: auto;
    border: 3px solid rgb(70, 155, 70);
    height: 45vw;
    width: 45vw;
    background: url(clock.png) no-repeat ;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 9px;
    transform-origin: bottom;
}

#hour{
    width: 1%;
    height: 26%;
    top: 23.8%;
    left: 49.5%;
}

#minute{
    width: 0.8%;
    height: 33%;
    top: 17%;
    left: 49.5%;
}

#second{
    width: 0.7%;
    height: 40%;
    top: 10%;
    left: 49.5%;
}